{% extends 'base.html' %}

{% block title %}WCB Cafe - NEWS{% endblock title %}

{% block id %}news{% endblock id %}

{% block page %}News{% endblock page %}

{% block content %}
<div class="news-contents wrapper">
    <article>
        {% if category_name %}
            <h2>絞り込み：{{ category_name }}</h2>
        {% endif %}
        {% for item in object_list %}
            <header class="post-info">
                <h2 class="post-title">{{ item.title }}</h2>
                <p class="post-date">{{ item.created_at|date:"m" }}/{{ item.created_at|date:"d" }}<span>{{ item.created_at|date:"Y" }}</span></p>
                <p class="post-cat">カテゴリー：{{ item.get_category_display }}</p>
            </header>
            {% if item.img %}
                <img src="{{ item.img.url }}" alt="{{ item.alt }}">
            {% endif %}
            <p>{{ item.text }}</p>
        {% endfor %}
        <ul class="Pagination">
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link" href="fiast page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                    </svg>
                </a>
            </li>
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link" href="#"><span>1</span></a>
            </li>
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link" href="last page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                    </svg>
                </a>
            </li>
        </ul>
    </article>

    <aside>
        <h3 class="sub-title">カテゴリー</h3>
        <ul class="sub-menu">
            {% if category_name %}
                <li><a href="{% url 'pages:news' %}">すべてのニュース</a></li>
            {% endif %}
            <li><a href="{% url 'pages:news-category' category='promotion' %}">お店の紹介</a></li>
            <li><a href="{% url 'pages:news-category' category='irregularmenu' %}">期間限定メニュー</a></li>
            <li><a href="{% url 'pages:news-category' category='event' %}">イベント</a></li>
            <li><a href="{% url 'pages:news-category' category='talk' %}">お客様との会話</a></li>
        </ul>

        <h3 class="sub-title">このお店について</h3>
        <p>
            体に優しい自然食を提供する、WCB CAFE。無添加の食材を利用したメニューが特徴です。
            おいしいブレンドコーヒーとヘルシーなオーガニックフードで体の内側から癒やされてください。
        </p>
    </aside>
</div>
{% endblock content %}

{% block footer %}
<footer>
    <div class="wrapper">
        <p><small>&copy; 2019 Manabox</small></p>
    </div>
</footer>
{% endblock footer %}