{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title><!-- タイトル -->
    <meta name="description" content="ブレンドコーヒーとヘルシーなオーガニックフードを提供するカフェ">
    <link rel="icon" href="{% static 'pages/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
</head>
<body>
    <div id="{% block id %}{% endblock id %}" class="big-bg"><!-- id -->
        <header class="page-header wrapper">
            <h1>
                <a href="{% url 'pages:index' %}">
                    <img class="logo" src="{% static 'pages/images/logo.svg' %}" alt="WCBカフェ ホーム">
                </a>
            </h1>
            <nav>
                <ul class="main-nav">
                    <li class="nav-single">
                        <a href="{% url 'pages:news' %}" class="init-bottom">News</a>
                        <ul class="nav-second">
                            <li><a href="{% url 'pages:news-create' %}">Create</a></li>
                            <li><a href="#">Update</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                    <li class="nav-single">
                        <a href="{% url 'pages:menu' %}" class="init-bottom">Menu</a>
                        <ul class="nav-second">
                            <li><a href="{% url 'pages:menu-create' %}">Create</a></li>
                            <li><a href="#">Update</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="#">Accounts</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper {% block wrapper %}{% endblock wrapper %}">
            <h2 class="page-title">{% block page %}{% endblock page %}</h2><!-- page-title -->
            {% block paragraph %}{% endblock paragraph %}
        </div>
    </div>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>
